body{
    margin:0;
    background-color: #f5f5f5;
}
header{
    background-color: rgb(109, 109, 109);
}

.flex{
    display: flex;
}

.justify{
    justify-content: space-between;
}


.container{
    width: 80%;
    margin: 0 auto;
}

/**
colors
*/
.bg__white{
    background-color: white;
    border: 1px solid rgb(143, 143, 143);
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}